@import 'settings';
@import 'structure/all';
@import 'theme/all';




/*------------------------------------*\
	$BASE
\*------------------------------------*/

.wrapper{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}





/*------------------------------------*\
	$NAVIGATION
\*------------------------------------*/

.top-bar{
	padding: 6px 0;
	background-color: $secondary-gray;

	p, a{
		color: $primary-gray;

		i{ padding: 0 4px 0 0; }
	}
}

.nav{

	&.nav--primary{
		background-color: $primary-gray;

		a{ @extend %main-nav; }

		i{
			color: #FFF;
			font-weight: 300;
		}

		li{

			&.sale{

				a{
					background-color: $primary-red;
					color: #FFF;
				}
			}
		}
	}

	&.nav--mobile{
		border-bottom: 1px solid $quinternary-gray;

		li{ margin: 0; }

		a{
			margin: 0;
			background-color: $secondary-gray;
			border-top: 1px solid $quinternary-gray;
		}
	}
}

.mega-menu-overlay{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.mega-menu{
	font-size: 0;
	text-align: center;
	position: relative;

	> li{
		display: inline-block;
		zoom: 1;
		*display: inline;
		margin: 0;

		&:hover{

			.list__wrap > a{ background-color: $primary-off-black; }
		}

		.list__wrap{
			position: relative;

			> a{
				display: inline-block;
				padding: 10px 30px;
				margin: 0;

				+ i {
					position: absolute;
					top: 12px;
					right: 8px;
				}
			}

		}

		&:hover{

			.mega-menu__container{
				display: block;
				padding: 30px 0 0;

				> .wrapper{ padding-bottom: 30px; }
			}
		}
	}

	.mega-menu__container{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #FFF;
		@extend .clearfix;

		.thin-usp{

			i{ color: $primary-gray; }
		}

		.mega-menu__widgets{
			@extend .clearfix;
			
			>.widget{
				float: left;
				width: 25%;
				padding: 0 10px;

				&:first-child, &:nth-child(4n+5){
					clear: both;
				}

				.widgettitle{
					@include menu-widget-title();
				}

				&.widget_nav_menu{

					.menu{

						li.menu__title{
							margin: 0;

							a{
								display: block;
								font-weight: $font-bold;
								@include menu-widget-title();
							}
						}
					}

				}

				li{ text-align: left; }

				a{ color: $primary-gray; }
			}
		}
	}
}




/*------------------------------------*\
	$HEADER
\*------------------------------------*/

.header{

	&.header--secondary{
		padding: 5px 0;
		background-color: $secondary-gray;

			@media only screen and (max-width: 640px){
				background-color: $primary-green;
			}

		p{ @extend %secondary-header-font; }

		i{ @extend %secondary-header-icon; }
	}

	.header__logo{
		margin: 20px 0;

		@media only screen and (max-width: 640px){
			margin: 10px 0;
		}
	}

	.header__basket{ margin-top: 32px; }

	.header__search{ margin-top: 31px; }

	.header__wishlist{
		margin-top: 31px;
		
		.fa{ vertical-align: middle; }
	}

	.header__icons{
		margin: 10px 0;
		text-align: right;

		@media only screen and (min-width: 641px) and (max-width: 1024px){
			margin: 24px 0;

			.header__icon{

				i{ font-size: 34px; }
			}
		}

		.header__icon{
			display: inline-block;
			zoom: 1;
			*display: inline;
			text-align: center;
			padding: 4px 6px;

			@media only screen and (min-width: 641px) and (max-width: 1024px){
				padding: 4px 10px;
			}

			i, span{ color: $primary-green; }

			span, a{
				font-size: 10px;

				@media only screen and (min-width: 641px) and (max-width: 1024px){

					font-size: 14px;
				}
			}

			i{
				font-size: 22px;

				@media only screen and (min-width: 641px) and (max-width: 1024px){

					font-size: 34px;
				}
			}

			span{
				display: block;
				padding: 5px 0 0;
			}
		}
	}

	.header__page-links{
		text-align: right;

		p, span{
			display: inline-block;
			zoom: 1;
			*display: inline;
		}

		.page-links__separator{ padding: 0 10px; }
	}
}

.mobile-search{
	display: none;
	padding: 10px;
}

.thin-usp{
	text-align: center;

	a{
		display: block;
		margin: 0;
	}

	i{ padding-right: 2px; }

	i, p{
		display: inline-block;
		zoom: 1;
		*display: inline;
		margin: 0;
	}

	p{ @extend %secondary-header-font; }

	i{ @extend %secondary-header-icon; }

	img{
		max-height: 17px;
	}
}




/*------------------------------------*\
	$FOOTER
\*------------------------------------*/

.footer{

	&.footer--primary{
		background-color: $primary-gray;

		li, a, p{
			line-height: 1.5;
			color: $secondary-gray;

			p, a{ line-height: inherit; }
		}

		.widgettitle{
			font-size: $base-font;
			font-weight: 400;
			color: $primary-green;
		}
	}

	&.footer--secondary{
		background-color: #000;

		p{
			line-height: 1.5;
			text-align: center;
			font-size: 12px;
			color: #FFF;
		}
	}
}

.social-icons{

	li{ padding: 0 5px; }
}





/*------------------------------------*\
	$SIDEBAR
\*------------------------------------*/

.sidebar{

	&.sidebar--shop{
		padding: 0px 20px 10px;
		margin-bottom: 20px;
		background-color: $quarternary-gray;

		@media only screen and (max-width: 640px){
			display: none;
		}

		.widgettitle{ margin-top: 20px; }
	}

	.sidebar__heading{
		margin-left: -20px;
		margin-right: -20px;
	}
}

.sidebar-mobile-trigger{
	padding: 10px;
	margin: 0 0 10px;
	cursor: pointer;
	background-color: $primary-green;

	p{ color: #FFF; }

	&.is--active{

		span{
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}

	span{
		font-size: 32px;
		color: #FFF;
	}
}

.widget{
	padding: 0;
	margin: 0;

	.widgettitle{
		margin: 0;
		padding: 0;
		border-bottom: 0;
		font-weight: 400;
		font-size: $base-font;
	}

	&.widget_product_categories &.widget_nav_menu{

		ul{

			li{ &:before{ display: none !important; } }
		}
	}

}

.sidebar-title{
	padding: 10px;
	background-color: $quinternary-gray;

	.widgettitle{
		margin: 0 !important;
		font-size: $base-font;
		font-weight: $font-bold;
	}
}

.woocommerce{
	
	.widget_price_filter{

		.price_slider_wrapper{
			padding: 10px 0;

			.price_label{ font-size: 12px; }

			button.button{
				@include btn-small();
			}
		}
	}
}





/*------------------------------------*\
	$ICONS
\*------------------------------------*/

.icon{
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	&.icon--primary{
		@include btn-primary();
	}

	&.icon--secondary{
		background-color: $primary-gray;
		color: #FFF;
		border: 1px solid $primary-gray;

		&:hover{
			background-color: #FFF;
			color: $primary-gray;
			border: 1px solid $primary-gray;
		}
	}

	&.icon--medium{
		padding: 5px;
	    width: 44px;
	    height: 44px;
	    font-size: 22px;
	    border-radius: 24px;
	    line-height: 26px;
	}

	&.icon--medium{
		padding: 9px;
	    width: 44px;
	    height: 44px;
	    font-size: 22px;
	    border-radius: 24px;
	    line-height: 26px;
	}
}




/*------------------------------------*\
	$BASKET
\*------------------------------------*/

.basket{

	&.basket--primary{
		margin: 0;

		i{
			padding: 2px 2px 0 0;
			font-size: 20px;
			vertical-align: middle;
		}

		span{
			display: inline-block;
			zoom: 1;
			*display: inline;
			margin: 0 0 0 4px;
			padding: 6px;
			font-size: 12px;
			vertical-align: middle;
			text-decoration: none;
			border: 1px solid #FFF;
			border-radius: 6px;
		}
	}
}




/*------------------------------------*\
	$FONTS
\*------------------------------------*/

.font{

	&.font--green{
		@extend %font-green;
	}
}





/*------------------------------------*\
	$SEARCH FORM
\*------------------------------------*/

.search-form{
	position: relative;
	border: 1px solid $secondary-gray;

	&:before{ display: none !important; }

	input[type="text"]{
		width: 100%;
		padding: 13px 36px 14px 10px !important;
		font-size: 12px;
		font-style: italic;
		border: none;
	}
	
	.btn{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 36px;
		padding: 0;
		border-radius: 0;

		i{ font-size: 24px;}
	}
}




/*------------------------------------*\
	$PRODUCT USPS
\*------------------------------------*/

.product-usps{
	padding: 20px 0 20px 60px;
	margin: 20px 0 20px 40px;
	border-top: 1px solid $tertiary-gray;
	border-bottom: 1px solid $tertiary-gray;

	@media only screen and (max-width: 1024px){
		margin-left: 0px;
		padding-left: 0;
	}

	.product-usps__usp{
		margin: 0 0 20px;
		@extend .clearfix;

		&:last-child{ margin-bottom: 0; }

		img{
			float: left;
			max-width: 50px;
			margin-right: 10px;
		}

		p{
			margin-top: 13px;
			font-size: $small-font;
			text-align: left;
		}
	}
}

.archive-usps{

	.archive-usps__usp{
		border-right: 1px solid $secondary-gray;

		@media only screen and (max-width: 640px){
			border: none;
		}

		&:last-child{ border: none; }

		img{
			max-width: 100px;
			padding: 20px 0;
		}
	}
}





/*------------------------------------*\
	$PRODUCT GRID ITEM
\*------------------------------------*/

.woocommerce{

	button.button{
		@include btn-small();
		@include btn-primary();
	}

	ul.brand-thumbnails{

		li{
			width: 30.75% !important;
			margin: 0 3.8% 2.992em 0;

			&.last{ margin-right: 0; }

			@media only screen and (max-width: 640px){
				width: 49% !important;
			}

			&.odd{

				@media only screen and (max-width: 640px){
					margin-left: 0;
					margin-right: 1%;
				}
			}

			&.even{

				@media only screen and (max-width: 640px){
					margin-left: 1%;
					margin-right: 0;
				}
			}
		}

		h2{
			padding: .5em 0;
		    margin: 0;
		    font-size: 1em;
		}
	}

	ul.products{
		display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	    @media only screen and (max-width: 1024px){
			margin-left: -10px;
			margin-right: -10px;
		}

	    li.product{
			display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-flex-direction: column; /* Safari 6.1+ */
			flex-direction: column;
			width: 30.8%;

			@media only screen and (max-width: 1024px){
				width: 49%;
				margin-right: 0;
				padding: 0 10px;
			}

			&.product-category{

				mark{ display: none; }

				img{
					max-height: none;
					width: 100%;
				}
			}

			a{

				img{
					width: auto;
					max-height: 250px;
					margin: 0 auto 1em;
				}
			}

			h3{
				font-size: $base-font;
				@extend %base-font;
			}

			.product-finance{
				color: $primary-green;

				strong{
					display: inline;
				}
			}

			.product__image{
				height: 240px;
				position: relative;

				@media only screen and (max-width: 640px){
					height: 200px;
				}

				img{
					max-height: 100%;  
				    max-width: 100%; 
				    width: auto;
				    height: auto;
				    position: absolute;  
				    top: 0;  
				    bottom: 0;  
				    left: 0;  
				    right: 0;  
				    margin: auto;
				}
			}

			.price{
				color: $primary-green !important;
				@extend %base-font;

				del{ color: $primary-gray; }

				ins{ color: $secondary-red; }
			}

			.product-loop__info{ padding-bottom: 10px; }

			.product-loop__wish{ margin-left: auto; }

			.button.ajax_add_to_cart{
				@extend .btn;
				@include btn-small();
				@include btn-primary();
				padding: 10px;
			}
		}

		.product{

			.product-loop__info{
				margin-bottom: 10px;
				border-bottom: 1px solid $tertiary-gray;
				
				@include display_flex();
				@extend .clearfix;

				> .woocommerce-LoopProduct-link{ width: 72%; }

				.product-loop__title{
					float: left;
					
					h3{
						font-weight: 400;
						@extend %base-font;
					}
				}
			}

			.product-loop__price{
				margin: auto 0 0;
				padding: 10px 0 0;
			}

			// .product-loop__button{ margin-top: auto; }
		}
	}

	div.product{
		margin-top: 20px;

		.single_add_to_cart_button{
			text-transform: uppercase;
			font-weight: 700;
			vertical-align: top !important;
		}

		.product__description{
			text-align: left;
			font-style: initial;
			font-size: $base-font;
			@extend %base-font;

			p, em, small{
				text-align: left;
				font-style: initial;
				font-size: $base-font;
				@extend %base-font;
			}
		}

		.product__header{
			margin-bottom: 20px;

			.woocommerce-breadcrumb{
				padding-top: 3px;
				margin: 4px 0;
				@extend %base-font;

				@media only screen and (max-width: 640px){
					display: none;
				}

				a{
					@extend %base-font;
				}
			}
		}

		.product__gallery{ position: relative; }

		.product__back{
			float: left;
			margin-right: 10px;
		}

		.product__details{
			margin-bottom: 20px;
			
			h3{ margin-bottom: 0; }

			p{ font-weight: bold; }
		}

		.yith-wcwl-add-to-wishlist{
			margin-bottom: 20px;
		}
	}

	.yith-wcwl-add-to-wishlist{
		margin-top: 0;

		a{ font-size: 12px; }

		.feedback{
			display: block;
			padding: 10px 0 0;
		    font-size: 14px;
		    line-height: 1.2;
		    color: $primary-green;
		}

		.button{

			i{ margin-right: 0px; }
		}

		.yith-wcwl-add-button{
			text-align: right;

			@media only screen and (max-width: 640px){
				text-align: left;
			}
		}

		.yith-wcwl-wishlistexistsbrowse{
			
			&.show{

				> a{ display: none; }
			}
		}

		.feedback{
			text-align: right;
		}
	}

	.product__info{
		text-align: right;

		@media only screen and (max-width: 640px){
			text-align: left;
		}

		h1{
			margin: 0;
			font-size: 20px;
		}

		.stock{ margin-bottom: 10px; }

		.price{ margin-top: 20px; }

		.stock__availability, .info__small, .woocommerce-review-link{
			font-size: $small-font;
			color: $primary-gray;
		}

		.stock__availability{
			font-weight: 700;
			text-transform: uppercase;
		}

		.woocommerce-product-rating{
			margin-top: 10px;
			margin-bottom: 0;
			font-size: $small-font;
			text-align: right;

			@media only screen and (max-width: 640px){
				text-align: left;
			}

			.star-rating{ float: none; }
		}

		.single_add_to_cart_button, .quantity{
			float: none !important;
			display: inline-block;
			zoom: 1;
			*display: inline;
		}

		.star-rating{
			display: inline-block;
			zoom: 1;
			*display: inline;
			float: none;
		}
	}

	form.cart{

		.variations{

			tr{
				padding-left: 0;
				padding-right: 0;
			}

			.reset_variations{
				font-size: 12px;
				color: $primary-red;
			}

			.value{
				padding-right: 0;

				> select{
					margin-right: 0 !important;
					margin-left: 1em;
				}
			}
		}
	}

	.star-rating{
		margin: 2px 0;
		font-size: 14px !important;

		&:before{
			position: relative;
			z-index: 2;
			color: $primary-yellow;
		}

		span{
			font-size: 14px;

			&:before{ color: #ffcc00; }
		}
	}

	.related{

		ul.products{

			@media only screen and (max-width: 640px){
				margin-left: -10px;
				margin-right: -10px;
			}

			li.product{
				width: 22.1%;

				&:last-child{
					margin-right: 0;
				}

				@media only screen and (max-width: 640px){
					width: 49%;
					margin-right: 0;
					padding: 0 10px;
				}
			}
		}
	}

	.woocommerce-product-gallery__wrapper{

		.woocommerce-product-gallery__image{

			&:nth-child(n+2){ padding: 10px; }
		}
	}

	.woocommerce-ordering{

		@media only screen and (max-width: 640px){
			margin-bottom: 10px;
		}
	}

	.order-total{

		.amount{ font-weight: 500; }
	}

	.woocommerce-cart-form, .woocommerce-billing-fields, .woocommerce-additional-fields{

		.input-text, td.actions .input-text{
			@include checkout-input();
		}

		table.shop_table{
			border-radius: 0;
			border: none;

			th{
				@include cart-th();
			}

			.coupon{
				padding-top: 20px;

				.update_cart{
					@include cart-button();
				}

				.button{
				    background: #000;
				    color: #FFF;
				}
			}

			input.button:disabled, input.button{
				@include cart-button();
			}

			.input-text, td.actions .input-text{
				@include checkout-input();
			}

		}
	}

	.cart-collaterals, .woocommerce-checkout-review-order{

		table{
			border-radius: 0;
			border: none;

			th{
				@include cart-th();
			}

			td{
				@include cart-td();
			}

			.cart-subtotal{

				td{
					border-top: none;
					background-color: #FDFDFD;
				}
			}

			.order-total{

				th, td{ border-top: none; }

				td{ background-color: #FBFBFB; }
			}
		}

		.place-order #place_order, .checkout-button.button{
			@include cart-button();
			font-size: 20px;
		}
	}

	table{

		td{ border-top: none; }
	}

	nav.woocommerce-pagination{
		text-align: right;

		@media only screen and (max-width: 640px){
			text-align: center;
		}

		.page-numbers{
			border: none;

			li{
				margin: 0 2px;
				border: none;

				.current{
					color: #FFF;
					background-color: $primary-gray;
				}

				a{
					color: $primary-gray;
					background-color: $secondary-gray;
				}
			}
		}
	}

	.woocommerce-checkout-review-order-table{

		table{
			width: 100%;
		
			td{
				width: 70%;
				padding: 0;

				&:first-child{
					padding: 0 10px;
					width: 30%;

					img{
						display: block;
						max-width: 100%;
						margin: 0 auto;

						@media only screen and (max-width: 640px){
							width: auto;
							max-height: 40px;
						}
					}
				}
			}
		}
	}
}

.payment-options{

	img{
		height: 35px;
	}
}

.archive-title{
	margin-top: 50px;
	text-align: center;
}

.woocommerce-products-header{
	margin-bottom: 20px;
	border-bottom: 1px solid $secondary-gray;
}





