$primary-turquoise: #009a92; // Mid Turquoise used for headings

$primary-gray: #58585a; // Dark grey, most commonly used for fonts
$secondary-gray: #e5e5e6; // Light grey, most commonly used for related areas

$primary-black: #231f20; // Slightly off black, most commonly used for fonts

$primary-purple: #6a4c8e;